@font-face {
    font-display: swap;
    font-family: "ProximaNova-Light";
    src: url("./ProximaNova/ProximaNova-Light.ttf"), url("./ProximaNova/ProximaNova-Light.woff"),
        url("./ProximaNova/ProximaNova-Light.woff2");
}

@font-face {
    font-display: swap;
    font-family: "ProximaNova-Regular";
    src: url("./ProximaNova/ProximaNova-Regular.ttf"), url("./ProximaNova/ProximaNova-Regular.woff"),
        url("./ProximaNova/ProximaNova-Regular.woff2");
}

@font-face {
    font-display: swap;
    font-family: "ProximaNova-RegularIt";
    src: url("./ProximaNova/ProximaNova-Regular-it.ttf");
}

@font-face {
    font-display: swap;
    font-family: "ProximaNova-Bold";
    src: url("./ProximaNova/ProximaNova-Bold.otf");
}

@font-face {
    font-display: swap;
    font-family: "ProximaNova-BoldIt";
    src: url("./ProximaNova/ProximaNova-Bold-it.otf");
}

@font-face {
    font-display: swap;
    font-family: "ProximaNova-Semibold";
    src: url("./ProximaNova/ProximaNova-Semibold.eot"), url("./ProximaNova/ProximaNova-Semibold.ttf"),
        url("./ProximaNova/ProximaNova-Semibold.woff"), url("./ProximaNova/ProximaNova-Semibold.woff2");
}

@font-face {
    font-display: swap;
    font-family: "ProximaNova-SemiboldIt";
    src: url("./ProximaNova/ProximaNova-Semibold-it.eot"), url("./ProximaNova/ProximaNova-Semibold-it.ttf");
}

@font-face {
    font-display: swap;
    font-family: "ProximaNova-ExtraBold";
    src: url("./ProximaNova/ProximaNova-Extrabld.ttf"), url("./ProximaNova/ProximaNova-Extrabld.woff"),
        url("./ProximaNova/ProximaNova-Extrabld.woff2");
}

@font-face {
    font-display: swap;
    font-family: "ProximaNova-ExtraBoldIt";
    src: url("./ProximaNova/ProximaNova-Extrabld-it.ttf"), url("./ProximaNova/ProximaNova-Extrabld-it.woff2");
}
