.borderGrad,
.borderGradSm {
    position: relative;
    z-index: 1;
}

.borderGrad::before,
.borderGradSm::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    border-radius: 16px;
    padding: 1px;
    background: linear-gradient(90deg, #59cbff 0%, #009fe7 100%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    backdrop-filter: blur(25px);
}

@media screen and (max-width: theme("screens.sm")) {
    .borderGradSm::before {
        display: none;
        background: none;
    }
}
