@import "../variables/variables";
@import "./utils";

// Миксины типографики

@mixin text($family, $size, $weight, $height, $style) {
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
    font-style: $style;
}

/*
    Цвет текста
*/
@mixin textBlack() {
    color: $color-black;
}
@mixin textWhite() {
    color: $color-white;
}
@mixin textGrey() {
    color: $color-grey-300;
}
@mixin textBlue() {
    color: $color-main;
}
@mixin textDisabled() {
    color: $color-l-blue-300;
}
@mixin textWarning() {
    color: $color-yellow;
}
@mixin textError() {
    color: $color-red;
}
@mixin textSuccess() {
    color: $color-green-300;
}

/*
    Заголовки
*/
@mixin h1() {
    @include text("ProximaNova-BoldIt", 32px, 800, 38px, italic);

    @include respond-to(mobile) {
        @include text("ProximaNova-BoldIt", 24px, 800, 28px, italic);
    }
}
@mixin h2() {
    @include text("ProximaNova-BoldIt", 24px, 800, 28px, italic);

    @include respond-to(mobile) {
        @include text("ProximaNova-BoldIt", 22px, 700, 26px, italic);
    }
}
@mixin h3() {
    @include text("ProximaNova-BoldIt", 20px, 800, 24px, italic);

    @include respond-to(mobile) {
        @include text("ProximaNova-BoldIt", 20px, 700, 24px, italic);
    }
}
@mixin h4() {
    @include text("ProximaNova-BoldIt", 18px, 700, 21px, italic);

    @include respond-to(mobile) {
        @include text("ProximaNova-BoldIt", 18px, 700, 21px, italic);
    }
}
@mixin h5() {
    @include text("ProximaNova-BoldIt", 16px, 700, 19px, italic);

    @include respond-to(mobile) {
        @include text("ProximaNova-BoldIt", 16px, 700, 19px, italic);
    }
}

/*
    Текст маленький
*/
@mixin text-sm() {
    @include text("ProximaNova-Regular", 14px, 400, 19px, normal);
}
@mixin text-sm-semi-bold() {
    @include text("ProximaNova-Semibold", 14px, 600, 19px, normal);
}
@mixin text-sm-semi-bold-it() {
    @include text("ProximaNova-SemiboldIt", 14px, 600, 19px, italic);
}
@mixin text-sm-bold() {
    @include text("ProximaNova-Bold", 14px, 700, 19px, normal);
}

/*
    Текст средний
*/
@mixin text-md() {
    @include text("ProximaNova-Regular", 16px, 400, 22px, normal);

    @include respond-to(mobile) {
        font-size: 14px;
        line-height: 100%;
    }
}
@mixin text-md-semi-bold() {
    @include text("ProximaNova-Semibold", 16px, 600, 19px, normal);

    @include respond-to(mobile) {
        font-size: 14px;
        line-height: 100%;
    }
}
@mixin text-md-semi-bold-it() {
    @include text("ProximaNova-SemiboldIt", 16px, 600, 19px, italic);

    @include respond-to(mobile) {
        font-size: 14px;
        line-height: 100%;
    }
}
@mixin text-md-bold() {
    @include text("ProximaNova-Bold", 16px, 700, 22px, normal);

    @include respond-to(mobile) {
        font-size: 14px;
        line-height: 100%;
    }
}
