@use "../variables/colors" as *;

// Миксины фоны

@mixin bgMain() {
    background: linear-gradient(180deg, #1e2c47 0%, #1f396e 100%) no-repeat fixed;
}
@mixin bgLight() {
    background-color: #e6f6fd;
}
@mixin bgWhite() {
    background-color: $color-white;
}
@mixin bgDisabled() {
    background-color: #e8ebf1;
}
