@use "../../../../assets/styles/mixins/utils" as *;

// Страница профиля
.profile {
    display: flex;
    flex-flow: nowrap column;
    min-width: 100%;
    padding: 40px;

    margin-bottom: 60px !important;

    &__wrapper {
        display: flex;
        flex-flow: nowrap row;
        align-items: stretch;

        gap: 30px;

        @include respond-to(mobile) {
            flex-flow: nowrap column;

            gap: 16px;
        }
    }
}
