@import "@assets/styles/mixins/mixins";

.shadows {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 40px;

    @include textBlack;

    .shadow-block {
        width: 100px;
        height: 100px;

        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 16px;

        background: $color-white;
        color: $color-black;

        &--one {
            @include shadow_1;
        }
        &--two {
            @include shadow_2;
        }
        &--three {
            @include shadow_3;
        }
        &--four {
            @include shadow_4;
        }
    }
}
