@import "@mixins";

.password {
    .form-password {
        display: flex;
        flex-flow: column nowrap;

        input {
            width: 100%;
        }

        button[type="submit"] {
            margin-top: 16px;
            margin-right: auto;

            @include respond-to(mobile) {
                width: 100%;
            }
        }
    }
}
