// Переменные цветов

// Основные
$color-black: #373c3f;
$color-white: #ffffff;

// Серые
$color-grey-300: #828fa4;
$color-grey-200: #9ba5b6;
$color-grey-100: #a7b1bf;

// Синие
$color-blue-300: #009fe7;
$color-blue-200: #33b2ec;
$color-blue-100: #59cbff;

// Синие градиенты
$color-grad-blue-300: linear-gradient(90deg, $color-blue-100 0%, $color-blue-300 100%);
$color-grad-blue-200: linear-gradient(90deg, #7ad5ff 0%, $color-blue-200 100%);
$color-grad-blue-100: linear-gradient(90deg, #8bdbff 0%, #4dbcee 100%);

// Зеленый
$color-green-300: #15e8e2;
$color-green-200: #44ede8;
$color-green-100: #73f1ee;

// Желтый
$color-yellow: #ffd600;

// Красный
$color-red: #ff3535;

// Светло синий
$color-l-blue-300: #caecfc;
$color-l-blue-200: #e5f5fd;
$color-l-blue-100: #e8ebf1;

// Основной цвет
$color-main: $color-blue-300;
$color-main-grad: $color-grad-blue-300;
