$p-l: 24px 60px; // Padding Large button
$p-n: 20px 40px; // Padding Normal button
$p-m: 16px 32px; // Padding Medium button
$p-s: 12px 16px; // Padding Small button

// Large button
@mixin LargeButton() {
    padding: $p-l;
    gap: 10px;
}

// Normal button
@mixin NormalButton() {
    padding: $p-n;
    gap: 10px;

    font-size: 16px;
}

// Medium button
@mixin MediumButton() {
    padding: $p-m;
    gap: 8px;

    font-size: 16px;
}

// Small button
@mixin SmallButton() {
    padding: $p-s;
    gap: 8px;

    font-size: 14px;
}
